* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4e5354;
}

.firstBox {

    width: 450px;
    height: 550px;
    background-color: white;
    position: relative;
    top: 40px;
    left: 450px;
    border-radius: 20px;
}

.firstLine {

    width: 100%;
    height: 2px;
    background-color: #e3e2de;
    position: relative;
    top: 30px;
}


.newJob {

    background-color: white;
    width: 100px;
    position: relative;
    left: 10px;
    top: 5px;
    color: #474746;
}

.selectClient {

    background-color: white;
    width: 150px;
    position: relative;
    left: 10px;
    top: 15px;
    color: #474746;
}

.Search {

    position: relative;
    left: 10px;
    top: 20px;
    width: 90%;
    margin-left: 2%;
    height: 10%;
    border-radius: 15px;
    background-color: white;
    border: 2px solid #cfcdc8;
    padding-left: 20px;
    font-size: 15px;

}

.seconBox {

    background-color: white;
    width: 20px;
    height: 60%;
    position: relative;
    top: 30px;
    left: 20px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid #474746;

}

.secondLine {

    width: 100%;
    height: 2px;
    background-color: #e3e2de;
    position: relative;
    top: 85%;

}

.hone {

    width: 100px;
    position: relative;
    left: 60px;
    background-color: white;
    color: #4e5354;
}

.htwo {

    width: 100px;
    position: relative;
    left: 210px;
    bottom: 18px;
    background-color: white;
    color: #4e5354;
}

.hthree {

    width: 80px;
    position: relative;
    left: 300px;
    bottom: 36px;
    background-color: white;
    color: #4e5354;
}

.Eone {

    margin-left: 30px;
    font-size: 15px;
    background-color: white;

}

.Etwo {

    margin-left: 30px;
    font-size: 15px;
    background-color: white;
    margin-top: 15px;
}

.Ethree {

    margin-left: 30px;
    font-size: 15px;
    background-color: white;
    margin-top: 15px;
}

.EFour {

    margin-left: 30px;
    font-size: 15px;
    background-color: white;
    margin-top: 15px;
}

.text0ne {
    background-color: white;
}

.pageNo {

    width: 10%;
    background-color: white;
    position: relative;
    left: 70%;
    top: 10%;
}

.btnNext {

    position: relative;
    top: 75px;
    left: 85%;
    background-color: #13c0f0;
    border-radius: 15px;
    padding: 8px;
    border: 0;
    color: white;
    text-decoration: none;
}

.btnNext:hover {

    cursor: pointer;
    background-color: #05b3e8;
    text-decoration: none;
}

.template {

    background-color: white;
    position: relative;
    top: 40px;
    left: 20px;
    width: 90%;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;

}

.opt {

    background-color: #44a4db;
}

.table {

    position: relative;
    left: 40px;
    top: 10%;
    width: 80%;
    text-align: left;
    background-color: white;
    border: 2px solid #7c8282;
    border-radius: 20px;
    padding: 10px;
    height: 40%;

}

.selectCl {

    margin: 10px;
    position: relative;
    top: 40px;
    background-color: white;
}

td,th {

    background-color: white;
}

.checks {

    background-color: white;
}

.hd {
    color: #4e5354;
}

.ph {

    background-color: white;
    position: relative;
    top: 60px;
    margin-left: 5px;
}

.td2 {
    position: relative;
    top: 13%;
    left: 35px ;
    width: 80%;
    text-align: left;
    background-color: white;
    border: 2px solid #7c8282;
    border-radius: 20px;
    padding: 10px;
    
    

}